<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tutorial"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Tutorial</ion-title>
    <ion-buttons slot="end">
      <ion-button>Add</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card *ngFor="let tutorial of tutorialdetail">
    <img alt="Silhouette of mountains" src="{{images}}?sig={{tutorial.id}}" />
    <ion-card-header>
      <ion-card-title>{{tutorial.title}}</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{tutorial.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
